header, nav, main, footer{
    max-width: 60rem;
    margin: auto;
}

/*Navigation stuff goes here*/

Nav{
    button{display:none;}
    ul, ul.open{
        margin-left: 2vw;
        display:flex;
        border: none;
        li{
            border:none;
            a {
                font-size: .9rem;
                padding: .5rem 1.2rem;
            }
        }

    } //end ul

} //end nav


div.headshots{
    section{

        grid-template-columns: 200px auto;
        column-gap: 16px;
    } // end section
  } // end headshots

  div.masking{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }


// create the for loop
@for $i from 1 through 12{
    $w: calc($i /12) *100%;
    .large-#{$i} {flex-basis: $w}
    }
    