$primaryColor: rgb(29, 116, 26);
$secondaryColor: rgb(29, 116, 26);
$fontColor: rgb(29, 116, 26);
$menuColor: orange;

$defaultFont: 'Poppins', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight:700;

$gutter: 16px;